<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>得点計算システム得点入力画面</title>
  <link rel="stylesheet" href="/css/reset.css">

  <link rel="stylesheet" href="/css/edit.css">
</head>

<body>
  <form action="" method="get">
    <table>
      <tr>
        <td colspan="3">基本情報</td>
        <td colspan="8">順位を入力</td>
        <td colspan="8">減点する点数を入力</td>


      </tr>
      <tr>
        <th class="top_name">ID</th>
        <th class="top_grade">競技名</th>
        <th class="top_grade">参加学年</th>

        <th class="top_zyunni">1組</th>
        <th class="top_zyunni">2組</th>
        <th class="top_zyunni">3組</th>
        <th class="top_zyunni">4組</th>
        <th class="top_zyunni">5組</th>
        <th class="top_zyunni">6組</th>
        <th class="top_zyunni">7組</th>
        <th class="top_zyunni">8組</th>
        <th class="top_zyunni">1組</th>
        <th class="top_zyunni">2組</th>
        <th class="top_zyunni">3組</th>
        <th class="top_zyunni">4組</th>
        <th class="top_zyunni">5組</th>
        <th class="top_zyunni">6組</th>
        <th class="top_zyunni">7組</th>
        <th class="top_zyunni">8組</th>
        <th class="top_zyunni">編集</th>




      </tr>
      <tr>
        <th class="top_name">1</th>
        <th class="top_grade">大縄跳び</th>
        <th class="top_grade">H1</th>

        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>

        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni">編集</th>

      </tr>
      <tr>
        <th class="top_name">2</th>
        <th class="top_grade">大縄跳び</th>
        <th class="top_grade">H2</th>

        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>

        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni"></th>
        <th class="top_zyunni">編集</th>

      </tr>

    </table>

  </form>
  <input type="submit" value="競技を追加する">

</body>

</html>