<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>得点計算システム得点登録画面</title>
  <link rel="stylesheet" href="/css/reset.css">

  <link rel="stylesheet" href="/css/competition.css">
</head>

<body>
  <table>
    <tr>
      <th class="top_id">ID</th>
      <th class="top_name">競技名</th>
      <th class="top_grade">参加学年</th>
      <th class="top_zyunni">1位</th>
      <th class="top_zyunni">2位</th>
      <th class="top_zyunni">3位</th>
      <th class="top_zyunni">4位</th>
      <th class="top_zyunni">5位</th>
      <th class="top_zyunni">6位</th>
      <th class="top_zyunni">7位</th>
      <th class="top_zyunni">8位</th>
      <th class="top_delete">編集</th>
      <th class="top_delete">削除</th>



    </tr>
    <% items.forEach((item)=>{ %>
    <tr>
      <th><%= item.id %></th>
      <th><%= item.name %></th>
      <th><%= item.grade %></th>
      <th><%= item.1_score %></th>




    </tr>
    <% }); %>
    

  </table>
  <a href="/new" class="new">競技を追加する</a>
</body>

</html>