<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>得点計算システムログイン画面</title>
  <link rel="stylesheet" href="/css/reset.css">

  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <form action="post" name="login">
    <h3>ID</h3>
    <input type="text" class="id">
    <h3>Password</h3>
    <input type="password" class="pass">
    <input type="submit" value="login" class="submit_botton">
  </form>
</body>
</html>