<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>メニュー</title>

  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <h1>スポーツフェスティバル得点計算システム（高校）</h1>
  <div>
    <h2>メニュー</h2>
    <h3><a href="/register">得点を登録する（クラス）</a></h3>
    <h3><a href="/color">得点を登録する（色別）</a></h3>

    <h3><a href="/result">得点、タイムを記入する（クラス）</a></h3>
    <h3><a href="/colorresult">得点、タイムを記入する（色別）</a></h3>


    <h3><a href="/publication">結果を閲覧する</a></h3>
    <h3><a href="/ip">IPアドレスを表示</a></h3>



  </div>
</body>
</html>