@font-face {
  font-family: 'Noto';
  src: url('NotoSansJP-Regular.otf') format('opentype');
}
body{
  font-family: Noto;
  form{
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  margin: auto;
    h3{
      font-size: 1.2vw;
      color: #595353;
      margin-bottom: 2vh;
    }
    .id{
      font-size: 1.6vw;
      outline: none;
      margin-bottom: 8vh;
      border-bottom: #595353 solid 2px;
    }
    .pass{
      font-size: 1.6vw;
      outline: none;
      border-bottom: #595353 solid 2px;

    }
    .submit_botton{
      display: block;
      background-color: #3f3939;
      color: #FFFFFF;
      width: 180px;
      height: 39px;
      text-align: center;
      border-radius: 10px;
      margin-top: 8vh;
      margin-left: auto;
      border: #3f3939 solid 2px;
      transition: 0.1s;
      &:hover{
        background-color: #FFFFFF;
        color: #3f3939;
      border: #3f3939 solid 2px;


      }
    }
  }
}